<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, followings_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to  user.followers.count, followers_user_path(user) %></th>
  </tr>
</table>
　
<div class='row'>
  <% if user == current_user %>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
  <% else %>
   <% if current_user.following?(user) %>
          
          <%=link_to user_relationships_path(user), method: :delete do %>
            <button type="button" class="btn btn btn-danger">フォロー解除</button>
          <% end %>
          <% else %>
          <%=link_to user_relationships_path(user), method: :post do %>
            <button type="button" class="btn btn btn-primary">フォロー</button>
          <% end %>
          <!--https://www.youtube.com/watch?v=iAIRNEsA-7g　参照-->
          <% end %>
  <% end %>
</div>
